body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    background-color: pink; 
    background-image: linear-gradient(to bottom right, #ABCDFF, #FFA6FF); 
    
  } 

.container {
    max-width: 800px;
    height: 100vh; 
    width: 100%;
    margin: auto; 
    font-size: 13px; 
  }

/* Header */

header {
    padding-top: 40px; 
  }

.h1 {
    font-weight: bold; 
    font-size: 2em;
    color: #fff;
    text-shadow: 2px 2px #ffa6ff; 
  } 

header #mode-toggle{
    background: #000; 
  }

/* Main */ 

main {
    margin-top: 30px; 
    margin-left: 20px; 
    margin-right: 20px; 
    filter: drop-shadow(0 0 10px #eee);
     /* dark mode: 333 */ 
  }

/* Navigation */ 

#section-category {
    height: 140px; 
    border-radius: 150px 150px 0 0; 
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.category {
  max-width: 87%; 
}

label {
  display: none; 
  border-radius: 25px; 
  cursor: pointer; 
  font-size: 1.25em; 
  padding: 10px;  
  margin: 5px; 
  background: linear-gradient(to bottom right, #ABCDFF, #FFA6FF); 
  border: solid 2px transparent;
  background-origin: border-box;
  box-shadow: 2px 100px 1px #fff inset;
}

#selection {
  display: none; 
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

button{
  border-radius: 25px; 
  cursor: pointer; 
  font-size: 1.25em; 
  padding: 10px;  
  margin: 5px; 
  background: linear-gradient(to bottom right, rgba(171, 205, 255,1), rgba(255, 166, 255,1)); 
  border: solid 2px transparent;
  background-origin: border-box;
  box-shadow: 2px 100px 1px #fff inset;

  
}
button:hover{  
  background: linear-gradient(to bottom right, rgba(171, 205, 255,0.5), rgba(255, 166, 255,0.5)); 
  color: rgba(0,0,0,0.5); 
  
}

button:focus {outline:0;}

.active{
  box-shadow: none; 
  color: #fff;
}

.active:hover{
  background: linear-gradient(to bottom right, rgba(171, 205, 255,0.9), rgb(255, 166, 255,0.9)); 
  color: rgba(255,255,255,0.7); 
}

/* Main content */ 

.main-content {
  font-size: 1.3em; 
  line-height: 1.5em; 
  padding: 0 20px 20px 20px;  
}

.error-message {
  font-size: 1.5em; 
  line-height: 1.5em; 
  padding: 0 20px 20px 20px;  
  text-align: justify; 
}
#section-video {
    justify-content: center; 
    position: relative;
    padding: 15px 30px; 
    border-radius: 0 0 20px 20px; 
    background: #fff;
  
  }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Footer */

footer {
  margin-top: 20px; 
  color: #ABCDFF;
}

footer a {
  text-decoration: none; 
  background: #fff;
  color: #FFA6FF;
  padding: 2px 4px; 
}

footer a:hover {
  color: rgba(255, 166, 255,0.5);

}
/* Media Queries */ 
@media only screen and (max-width: 576px) {
 
  main {
    margin-top: 60px; 
  }

  #section-video {
    height: 370px; 
    padding: 0;
  }
  
  label {
    display: block; 
    border-bottom-left-radius: 0px; 
    border-bottom-right-radius: 0px; 
    cursor: pointer;
  }

  .category {
    display: none;
    margin-top: 167.5px; 
    position: absolute; 
    z-index: 1;
  }

  #selection:checked + .category {
    display: block;  
  }

  button {
    display: block; 
    width: 177px;
    margin: 0;
    border-radius: 0px;
    border-bottom: solid 0px transparent; 

  }

  .first-button {
    border-top: solid 0px transparent; 
  }

  .last-button {
    border-bottom-left-radius: 25px; 
    border-bottom-right-radius: 25px; 
    border-bottom: solid 2px transparent; 
  }

}


@media only screen and (max-width: 700px) {

  img {
    max-width: 40%; 
  }

}